
<!--  <div class="row">-->
<!--    <div class="col-4"></div>-->
<!--    <div class="col-4">-->
<!--      {%if message%}-->
<!--      {%for m in messages%}-->
<!--      {{m}}-->
<!--      {%endfor%}-->
<!--      {%endif%}-->
<!--    </div>-->
<!--    <div class="col-4"></div>-->
<!--  </div>-->
{%extends 'base.html'%}
{%block body_block%}

<div class="container-fluid">

  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      {%if books%}
      <table class="table">
        <tr>
          <th>Book Name</th>
          <th>Author</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Publisher</th>
          <th>Action</th>
        </tr>
      {%for book in books%}
        <tr>
        <td>{{book.bookname}}</td>
          <td>{{book.author}}</td>
        <td>{{book.price}}</td>
        <td>{{book.qty}}</td>
        <td>{{book.publisher}}</td>
          <td>
            <a href="">Edit</a>
            <a href="">Detail</a>
            <a href="">Delete</a>
          </td>
          </tr>
        {%endfor%}
        {%else%}
        <h2 class="text-danger">No Books</h2>
        {%endif%}
          </table>

    </div>
    <div class="col-2"></div>
  </div>
</div>
{%endblock%}