<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
<div class="container">
<!--  <div class="row">-->
<!--    <div class="col-4"></div>-->
<!--    <div class="col-4">-->
<!--      {%if message%}-->
<!--      {%for m in messages%}-->
<!--      {{m}}-->
<!--      {%endfor%}-->
<!--      {%endif%}-->
<!--    </div>-->
<!--    <div class="col-4"></div>-->
<!--  </div>-->


  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      {%if books%}
      <table class="table">
        <tr>
          <th>Book Name</th>
          <th>Author</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Publisher</th>
          <th>Action</th>
        </tr>
      {%for book in books%}
        <tr>
        <td>{{book.bookname}}</td>
          <td>{{book.author}}</td>
        <td>{{book.price}}</td>
        <td>{{book.qty}}</td>
        <td>{{book.publisher}}</td>
          <td>
            <a href="">Edit</a>
            <a href="">Detail</a>
            <a href="">Delete</a>
          </td>
          </tr>
        {%endfor%}
        {%else%}
        <h2 class="text-danger">No Books</h2>
        {%endif%}
          </table>

    </div>
    <div class="col-2"></div>
  </div>
</div>
</body>
</html>