<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container">


    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
            {%for m in messages%}
            {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endif%}
            {%endfor%}
            {%endif%}
            <h1>Welcome {{request.user}}!!</h1>
            <a href="{%url 'signout'%}">Logout</a>
            <a href="{%url 'add-todo'%}">Addyourtodos</a>
            <a href="{%url 'todolist'%}">ListTodos</a>

        </div>
        <div class="col-4"></div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h2>Pending Todos</h2>
                {%if todos%}
            <table class="table">
                <tr>
                    <th>Task name</th>
                    <th>Status</th>
                    <th>Date</th>

                </tr>
                {%for todo in todos%}
                <tr>
                    <td>{{todo.task_name}}</td>
                    <td>{{todo.status}}</td>
                    <td>{{todo.created_date}}</td>
                {%endfor%}
                 {%else%}
                <h2 class="text-danger">No pending works</h2>
                {%endif%}
            </table>

            </div>
            <div class="col-4"></div>

        </div>
    </div>
</div>

</body>
</html>