
{%extends 'base.html'%}
{%block body_block%}
{%load static%}
<div class="container mt-2">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
            {%for m in messages%}
            {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong> You should check in on some of those fields below.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {%endif%}
            {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <img src="{%static 'images/profilepic.jfif'%}">
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="" class="border m-5" method="post">
                <h1>Login</h1>
                {%csrf_token%}
                {{form.as_p}}
                <!--                <div class="mb-3">-->
                <!--                    <input type="text" name="username" placeholder="enter username" class="form-control">-->
                <!--                </div>-->
                <!--                <div class="mb-3">-->
                <!--                    <input type="password" name="password" placeholder="enter password" class="form-control">-->
                <!--                </div>-->
                <div class="mb-3">
                    <button type="submit" class="btn btn-info rounded-pill">Login</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{%endblock%}